<!-- snippet for basic VF dashboard embed page -->
<apex:page doctype="html-5.0">
<apex:stylesheet value="https://www.ipack.com/central_media/assets/salesforce/css/style.default.css"/>
<script src="/support/console/32.0/integration.js" type="text/javascript"></script>

<div style="height: 30px; width: 100%;">&nbsp;</div>
<!-- page block to duplicate existing Salesforce interface design -->
<apex:pageBlock title="SIC Mix Dashboard">
<div class="container" style="height: 1200px; width: 100%;">
<apex:iframe src="https://10ay.online.tableau.com/t/ipack/views/REPSICSpendDetailLookup/Dashboard1?:embed=y&:showShareOptions=true&:display_count=no" scrolling="true" id="EmbedPage" height="100%"/>
</div>
</apex:pageBlock>
</apex:page>
